<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container flex-grow-1 m-auto p-0">
    <header class="container">
        <%- include('../partials/header'); %>
    </header>

    <main class="container-fluid flex-column">
        <div class="jumbotron">
            <h1 class="text-dark">This is great</h1>
            <p>Welcome to templating using EJS</p>
        </div>

        <div class="container row">
                     
                    <% data.forEach((item)=> { %>
                        <div class="item-container col-6 m-0 p-2">
                        <h3 class="text-dark text-center">
                            <%= item.title %>
                        </h3>
                        <h3 class="text-dark text-center">
                            <%= item.type %>
                        </h3>
                        <div class="image-container m-auto p-4">
                            <img src="https://placehold.co/600x400" alt="<%= item.imageAlt%>" class="mw-100" />

                        </div>
                        <div class="image-container m-auto p-4">
                            <img src="<%= item.url %>" alt="" class="mw-100" />

                        </div>
                        <!---<% if (item.isACookie) { %>
                            <p class="text-info text-center text-bg-info">This is true</p>
                        <% } %>
                        </div>-->
                        <% }) %>
               



        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>

</html>