<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container flex-grow-1 m-auto p-0">
    <header class="container">
        <%- include('../partials/header'); %>
    </header>

    <main class="container-fluid flex-column">
        <%- include('../partials/banner'); %>
       
        <div class="container row">


                <div class="item-container col-6 m-0 p-2">
                    <h3 class="text-dark text-center">
                        <%= data.title %>
                    </h3>
                    <div class="image-container h-auto">
                        <img src="<%= data.url %>" alt="<%= data.url %>" class="img-fluid rounded" />
                    </div>
                    
                    <% if (data.isACookie) { %>
                        <p class="text-info text-center text-bg-info">This is true</p>
                        <% } %>
                </div>


        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>

</html>