<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container flex-grow-1 m-auto p-0">
    <header class="container">
        <%- include('../partials/header'); %>
    </header>

    <main class="container-fluid flex-column">
        <%- include('../partials/banner'); %>

        <div class="container row">
            <div class="inner d-flex row">
                <% data.forEach((item)=> { %>
                    <div class="item-container m-0 p-2 col-4">
                        <a href="/item/<%= item.id %>">
                            <h3 class="text-dark text-center">
                            <%= item.title %>
                            </h3>
                        </a>
                        <p class="text-dark text-center" id="<%= item.id %>">
                            type: <%= item.type %>
                        </p>

                        <div class="image-container h-auto">
                            <img src="<%= item.url %>" alt="<%= item.url %>" class="img-fluid rounded" />
                        </div>
                        
                        <!---<% if (item.isACookie) { %>
                            <p class="text-info text-center text-bg-info">This is true</p>
                        <% } %>
                        </div>-->

                    </div>
                    <% }) %>
            </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>

</html>